/* TODO: add bootstrap w/ bundle */

.container {
    margin: 50px auto;
}

header h1 {
    margin-bottom: 50px;
    font-size: 2rem;
}

#sidebar {
    margin-bottom: 20px;
}

#sidebar .list-group-item {
    justify-content: space-between;
}

#main h2 {
    font-size: 1.2rem;
}

#main input {
    margin-bottom: 5px;
}